body, html {
    margin: 0;
    padding: 0;
    background-image: url("Images/BackgroundCream.jpg");
    background-size: cover;
}
.button-container {
    display: flex;
    flex-direction: row;
    height: 25px;
}
.button-container button {
    flex-grow: 1;
    border: none;
    background-color: #7DA0B4;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-family: "Comic Sans MS", cursive, Papyrus;
}
.button1:hover {
    background-color: #E1D0C9;
    cursor: pointer;
}
.button2:hover {
    background-color: #A99CB6;
    cursor: pointer;
}
.button3:hover {
    background-color: #ADB9AD;
    cursor: pointer;
}