body, html {
    margin: 0;
    padding: 0;
    background-image: url("Images/BackgroundSage.jpg");
    background-size: cover;
}
.button-container {
    display: flex;
    flex-direction: row;
    height: 25px;
}
.button-container button {
    flex-grow: 1;
    border: none;
    background-color: #ADB9AD;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-family: "Comic Sans MS", cursive, Papyrus;
}
.button1:hover {
    background-color: #E1D0C9;
    cursor: pointer;
}
.button2:hover {
    background-color: #A99CB6;
    cursor: pointer;
}
.button3:hover {
    background-color: #7DA0B4;
    cursor: pointer;
}
.paragraphs{
    font-family: "Comic Sans MS", cursive, Papyrus;
    font-size: 14px;
    color: #FFFFFF;
}
.headers{
    font-family: "Comic Sans MS", cursive, Papyrus;
    font-size: 18px;
    color: #FFFFFF;
}
.footer{
    font-family: "Comic Sans MS", cursive, Papyrus;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #ADB9AD;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footerA{
    display: inline-block;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.footerAImage{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}